@import '../../../assets/variables.scss';

$header-color: #FFF;
$button-border-color: #FB6914;
$label-color: #FFF;

h1, h5 {
    color: $header-color;
}

h1 {
    font-family: $title-font;
}

h5 {
    font-family: $secundary-font;
}

.reducer-container{
    background-image: url(assets/background-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    margin: 0 !important;
    padding: 0;

    width: 100%;
    min-height: 90vh;
    
    text-align: center;
}

.reducer-container > .col-md-4 {
    min-width: 300px;
    max-width: 445px;
}

.custom-text-input {
    float: left;
    background: none;
    border: none;
    padding-bottom: 0.4em;
    font-weight: bold;
    width: 90%;

    .normal {
        color: $button-border-color;
    }

    .reduced {
        color: $label-color;
    }
}

.custom-text-input:focus {
    outline: none;
}

.custom-text-input:-moz-placeholder {
    color: $button-border-color;
}

.custom-text-input::-webkit-input-placeholder {
    color: $button-border-color;
}

.text-container {
    display: inline-block;
    background: none;
    border: none;
    border-bottom: solid 2px $button-border-color;
    font-weight: bold;
    margin-bottom: -1em; 
    width: 70%;
    
    .normal {
        color: $button-border-color;
    }

    .reduced {
        color: $label-color;
    }
}

.custom-button {
    border: none;
    background: $button-border-color;
    color: $label-color;
    padding: 0.6em;
    font-weight: bold;
    font-size: 13px;
    width: 90px;
    justify-content: center;
}

.input-container {
    margin-top: 3em; 
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-text-button {
    border: none;
    background: none;
    float: right;
    color: $label-color;
    cursor: pointer;
    cursor: hand;
}

.show {
  right: 5px;
}

@media screen and (max-width: 440px){
    .custom-button {
        margin-top: 20px;
        width: 70%;
    }
}