@import "../../../assets/variables.scss";

h1 {
    color: $chaordic-red;
    font-family: $title-font;
    margin-bottom: 0.5em;
}

.short-url-container {
    float: left;

    p {
        font-weight: bold;
        font-family: $secundary-font;
        color: $chaordic-red;
    }        
}

.hits-url-container {
    float: right;

    p {
        font-family: $secundary-font;
        color: $support-text;
    }    
}

.ranking-container {
     align-items: center; 
     text-align: center; 
     justify-content: center; 
     padding: 2em;
}

.ranking-item {
    list-style: none;
}

hr {
   display: block;
   position: relative;
   margin: 8px auto;

   padding: 0;
   height: 0;
   line-height: 0;
   max-height: 0;
   
   width: 100%;
   
   font-size: 1px;
   clear: both;
   
   border: none;
   border-top: 1px solid ($divider);
   border-bottom: 1px solid #ffffff;
}

 .row:last-child > hr {
     width: 0;
 }

 .row {
     padding: 0.5em;
 }